.clientImage {
    margin-top: 2em;
    max-width: 200px;
    border-radius: 200px;
    display: block;
    margin: 0 auto;
}

.clientCompany {
    text-align: center;
    font-style: italic;
}

.clientCompany p {
    color: grey;
}

.clientText {
    margin-left: 2em;
    display: inline;
}

.clientText p {
    color: grey;
    display: inline;
}

.clientText ion-text {
    margin-right: 1em;
}